.css-10hburv-MuiTypography-root {
    font-weight: bold !important;
}

.Mui-selected {
    background-color: #47B747 !important;
}

.css-zxtyt4-MuiPaper-root-MuiAppBar-root {
    background-color: white !important;
}